@{
    ViewData["Title"] = "Index Home";
}

<h1>@ViewBag.Nombre</h1>


@section SideBar{
    <div class="side-home">
            <img src="https://images.emojiterra.com/openmoji/v13.1/512px/1f60a.png" alt="caritafeliz"/> 
            <h1>Bienvenidos</h1>
    </div>
        
}